a:hover,
a:focus {
  color: #b1d0b2;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #000000;
}
/*hyperlink colors */
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #000000;
  text-decoration: underline; /* Underlining when hovering over a link */
}
/*viewport */
img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*color used
Colors Used:
Primary Color (White): #FFFFFF;
Primary Color (Green): #B1D0B2;
Secondary Color (Black): #000000;
*/
body {
  background-color: #ffffff;
  font-family: 'Cabin', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

/*typography used:
  Page Titles (h1): 30px
  Headers (h2): 25px
  Image Descriptor (h3): 20px
  Body Text  (h4): 16px
*/
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.563em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}
h4 {
  font-size: .8em;
  font-weight: 400;
}
/*font family*/
body {
  font-family: 'Cabin', sans-serif;
}

body {
  background-color: white;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #b1d0b2;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #b1d0b2;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #b1d0b2; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

#recipebook h3{
  color: #B1D0B2;
}


/* properties from 1.7 */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #B1D0B2;
  padding: 10px 0 4px;
  position: relative;
  -webkit-box-shadow: 4px 15px 19px 0px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    4px 15px 19px 0px rgba(50, 50, 50, 0.77);
  box-shadow:         4px 15px 19px 0px rgba(50, 50, 50, 0.77);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.8;
  color: #000000;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

#hero {
  background-color: #B1D0B2;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.right {
  text-align: right;
}

/* 2.3 */

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.myfunction {
  display: block
}
/* image resize */

.berlin-illustration {
  width: 100%;
}

.social-icons-container li {
  list-style-type: none;
  display: inline-block;
}

.social-icons-container svg {
  height: 100px;
  width: 100px;
}

.profile-picture img {
  height: 500px;
  width: 500px;
}


/* 1.8 */


@media only screen and (min-width: 640px)  {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero {
    display: block;
  }

  [class*="col-"] {
    float: left;
  }

  .col-md-6 {
  width: 50%;
}

.logo {
  max-width: 250px;
}

nav > ul > li {
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

nav > ul {
  margin: 1em 0;
}

}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
  width: 60%;
}
  .col-lg-5 {
  width: 40%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}

@media only screen and (min-width: 1440px) {
}

.text-container{
  max-width: 1000px
  margin: 0 auto;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
